<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AccountMgmtcon" connectionString="server=cypy4eiklp.database.windows.net;database=AccountMgmt_QA;user id=ClientDataUploader;password=Cl13ntD@t@Upl0@ds" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--Use "Test" for Testing Db and Use "Live" for Live Db-->
    <add key="UseDb" value="Test"/>
    <add key="Emails" value="support@appianroad.com,harshit@sumedhasoftech.com,mithlesh@sumedhasoftech.com"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>